# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Production build output
dist
build
.turbo

# Environment secrets
.env
.env.local
.env.production
.env.development
.env.test

# Logs and system
*.log
.DS_Store
Thumbs.db
